.navbar-light .navbar-toggler-icon {
    background-image: url(../img/menuicon.jpg);
}

#btnAllProductos, #btnAllProductos {
	margin-left: 10px;
	margin-right: 10px;
}

#btn-insert {
	margin-top: 10px;
	margin-left: 20px;
}

.w50 {
	width: 50px;
}

#tbl-productos, #tbl-pedido, #tbl-ventas {
	width: 95%;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

#div-buttons {
	margin-left: 10px;
}

#div-cont-buttons {
	width: 95%;
}

#btn-insert1, #btn-modify1, #btn-delete1, #btn-confirma1, #btn-agrega1 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

#btn-cancel {
	margin-left: 10px;
}

img:hover {
	opacity: 60%;
}

#suggesstion-box {
	display: none;
	margin-left: 10px;
	width: 350px;
}
